@charset "UTF-8";
/* CSS Document */


/*Desktop / Global View*/

body {
	font-family: 'Open Sans', sans-serif;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 52px;
	font-weight: 300;
	color: #fff;
	margin-bottom: -5px; 
}

.slicknav_menu {
	display: none;
}


#menu {
	float: right;
}


#menu li {
	display: inline-block;
}

#menu li a {
	text-decoration: none;
	color: #494949;
	padding: 15px;
	font-size: 18px;
	font-weight: 300;
}


header {
	padding: 10px 20px 20px 20px; 
}

.col {
	float: left;
	padding: 1%;
}

.col-lg {
	width: 31.3%;
	
}

.col-lg img {
	width: 100%;
	display: block;
}

.hero-one {
	background-image: url("images/header.jpg");
	padding: 52px 0px 72px 72px;
	background-size: cover;
}
.hero-two {
	background-image: url("images/Jill VZ _ Kaitlynn 2016-138x.jpg");
	padding: 52px 0px 72px 72px;
	background-size: cover;
}

.subheading {
	color: #fff;
	font-weight: 800;
	font-size: 33px;
	margin-bottom:-50px;
	
}

.heading-body-copy {
	color: #fff;
	margin-right: 20%;
}

.lets-talk {
	background-color: #B30002;
	padding: 8px 30px;
	text-decoration: none;
	color: #fff;
	background-color: #DC5422;
	
}

/*Tablet View*/

@media(max-width: 768px) {
	
#menu li {
	display: block;
	text-align-last: right;
	padding-bottom: 15px;
}
	.col-md {
			width: 48%;
	}
}




/*Mobile View*/

@media(max-width: 440px) {

.slicknav_menu {
	display: block;
}	
	#menu {
		display: none;
	}
	
	


.col-md {
			width: 100%;
	}
}


