@charset "UTF-8";
/* CSS Document */


/*Desktop / Global View*/

body {
	font-family: 'Open Sans', sans-serif;
}

h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 52px;
	font-weight: 300;
	color: #fff;
}

.slicknav_menu {
	display: none;
}


#menu {
	float: right;
}


#menu li {
	display: inline-block;
}

#menu li a {
	text-decoration: none;
	color: #494949;
	padding: 15px;
	font-size: 18px;
	font-weight: 800;
}


header {
	padding: 10px 20px 20px 20px; 
}

.hero {
	background-image: url("images/Jill VZ _ Kaitlynn 2016-138x.jpg");
	padding: 52px 0px 72px 72px;
	background-size: cover;
}

.subheading {
	color: #fff;
	font-weight: 800;
	font-size: 33px;
	margin-bottom:-10px;
	
}

/*Tablet View*/

@media(max-width: 768px) {
	
#menu li {
	display: block;
	text-align-last: right;
	padding-bottom: 15px;
}
	
}




/*Mobile View*/

@media(max-width: 430px) {

.slicknav_menu {
	display: block;
}	
	#menu {
		display: none;
	}
	
	
}